[Unit]
Description=Osmosis Monitor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
User=<USER>
TimeoutStopSec=90s
WorkingDirectory=<PATH>/osmosis-monitor
ExecStart=/bin/bash <PATH>/osmosis-monitor/start.sh

[Install]
WantedBy=multi-user.target